*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: black;
}
#container{
    height: 90%;
    width: 80%;
    background-color: rgb(245, 243, 238);
    position: absolute;
    border-radius: 5px;
    top: 60px;
    left: 120px;
}
h1{
font-size: 35px;
font-weight: 200;
padding-top: 20px;
padding-left: 50px;
letter-spacing: 5px;
}
#imgholder{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}
.smallimg{
    background-color: lightblue;
    height: 130px;
    width: 22%;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease-in-out;
    
}
.smallimg:hover{
    cursor: pointer;
  transform:scale(1.2);
  
}
#bigimg{
    height: 90%;
    width: 80%;
    background-color: blanchedalmond;
position: absolute;
top: 60px;
left: 120px;
}
#closebtn{
    position: absolute;
    top: 13%;
    left: 85%;
}
#closebtn:hover{
    cursor: pointer;
}
#container2{
    display: none;
}